@model SharedHousingApp.Models.User

@{
    ViewData["Title"] = "Login";
    ViewData["BodyClass"] = "landing-page";
}

<h2>Login</h2>

<form asp-action="Login" method="post">
    <label>Email:</label>
    <input asp-for="Email" class="form-control" />
    <br />
    <label>Password:</label>
    <input asp-for="Password" type="password" class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>


@Html.ValidationSummary()